* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #d2d4c9;
}

.box-wrapper {
    height: 100vh;
    display: flex;
}

.box-wrapper::before {
    background-color: #009688;
    height: 127px;
    width: 100%;
    content: "";
    position: absolute;
}

.content-wrapper {
    width: 70%;
    height: 90vh;
    margin: auto;
    background-color: white;
    z-index: 1;
}

.chat-list {
    width: 35%;
    height: 100%;
    float: left;
    /* background: #eaeaea; */
}

.chat {
    width: 65%;
    height: 100%;
    float: left;
}

.header-chat {
    border-left: 1px solid #d5d5d5;
}

.nav {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-profile {
    display: flex;
    margin: 0 20px;
}

.img-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
}

.nav .img-profile img, .conversation-preview.active .img-profile img {
    background: white;
}


.right i, .navbar i {
    margin-right: 20px;
    color: #b1b1b1;
    font-size: 20px;
}

.search i {
    padding: 0 25px;
    color: #b1b1b1;
    font-size: 24px;
    background: white;
    margin: 0 5px;
}

.footer-chat i {
    color: #6b7074;
    font-size: 20px;
}
.notifications {
    height: 80px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.status {
    font-size: 12px;
    color: #b1b1b1;
}

.info-contact {
    display: flex;
    align-items: center;
}

.alert i {
    margin: 0 20px;
    font-size: 25px;
    color: #8edafc;
}

.circle {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert {
    margin: 0 20px;
}

a {
    color: darkslategrey;
    font-size: 15px;
}

.search {
    background: #fafafa;
    height: 30px;
    display: flex;
    align-items: center;

}

input:focus {
    outline: none;
}

.conversation-preview {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background: white;
}

.data-contact {
    position: relative;
    width: 100%;
}

.time-last-message {
    position: absolute;
    top: 0;
    right: 20px;
}

span.time {
    font-size: 12px;
    color: #b1b1b1;
}

.active {
    background: #eaeaea;
}

.list-conversation {
    height: calc(100% - 170px);
    overflow-y: scroll;
}

.conversation {
    background-image: url(img/sfondo-chat.jpg);
    height: calc(100% - 120px);
    background-size: contain;
    padding: 20px 40px;
    overflow-y: scroll;
}

.footer-chat {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: #f3eeea;
}

.search input {
    width: 100%;
    height: 80%;
    font-size: 15px;
    border: 0;
    margin-right: 5px;
    padding: 0 10px;
}

.footer-chat input {
    height: 60%;
    border: 0;
    border-radius: 5px;
    width: 90%;
    padding: 0 10px;
    font-size: 15px;
}

.img-profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.conversation-preview .img-profile {
    background: #eaeaea;
}

.message {
    background: white;
    padding: 20px;
    border-radius: 20px;
    /* float: left; */
    clear: both;
    margin: 10px 0;
}

.send {
    float: left;
    background: white;
}

.reply {
    float: right;
    background: #dcf8c6;

}

.template-message {
    display: none;
}
